doctype html
html(lang="en")
	head
		title #{title}
		link(rel='stylesheet', href='/font-awesome-4.3.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='/style/main.css')
		meta(name="viewport", content="width=device-width, initial-scale=1")
		block head
	body
		include navbar
		.container
			block content
		footer
			.container &copy;2015 Brainsplosion LLC

		// Scripts
		script(type="text/javascript", src="/jquery/jquery.min.js")
		script(type="text/javascript", src="/bootstrap/js/bootstrap.min.js")
		script.
			/* Google Analytics */
